<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
<listEntry value="/NewProjectPackage/src/com/data/newPackage/VariableClass.java"/>
</listAttribute>
<listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
<listEntry value="1"/>
</listAttribute>
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="com.data.newPackage.VariableClass"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="NewProjectPackage"/>
</launchConfiguration>
